/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  header {
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .news article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .news h3 {
    font-size: 20px;
  }
  
  .news p {
    margin-bottom: 5px;
  }
  
  .news a {
    text-decoration: none;
    color:
  




